<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.corredor">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/corredor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Detalhes_telefones_Activity"></activity>
        <activity
            android:name=".Activity.Perfil_Usuario_Detalhes_Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:parentActivityName=".Activity.Tela_Menu_Principal"
            android:name=".Activity.Perfil_foto_Activity" />

        <activity
            android:parentActivityName=".Activity.Perfil_Usuario_Detalhes_Activity"
            android:name=".Activity.Editar_perfil_Activity" />

        <activity
            android:parentActivityName=".Activity.Tela_df_resultados"
            android:name=".Activity.AtualizardadosDF" />

        <activity
            android:parentActivityName=".Activity.Tela_Menu_Principal"
            android:name=".Activity.Tela_df_resultados" />

        <activity
            android:parentActivityName=".Activity.StatusEquipamentosActivity"
            android:name=".Activity.AtualisarStatusEquipamentosActivity" />

        <activity
            android:parentActivityName=".Activity.StatusEquipamentosActivity"
            android:name=".Activity.StatusEquipamento_Cadastro_AtivosActivity" />

        <activity
            android:screenOrientation="portrait"
            android:parentActivityName=".Activity.Tela_Menu_Principal"
            android:name=".Activity.StatusEquipamentosActivity" />

        <activity android:name=".Activity.Tela_para_teste" />
        <activity
            android:parentActivityName=".Activity.Tela_lista_meus_Relatorios"
            android:name=".Activity.Tela_detalhe_meus_Relatorios" />

        <activity
            android:parentActivityName=".Activity.Tela_Menu_Principal"
            android:name=".Activity.Tela_lista_meus_Relatorios" />
        <activity
            android:name=".Activity.Tela_de_RegistroActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Activity.Tela_Menu_Principal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:parentActivityName=".Activity.Tela_Menu_Principal"
            android:name=".Activity.Tela_Detalhes_Relatorios_Publicos" />

        <activity
            android:parentActivityName=".Activity.Tela_Menu_Principal"
            android:name=".Activity.Tela_Lista_dos_Relatorio_Publicos" />

        <activity
            android:parentActivityName=".Activity.Tela_Menu_Principal"
            android:name=".Activity.Tela_de_Cadastra_Relatorios_Publicos" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Activity.Tela_de_LougarActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>